$color-gold: #d8af57;
$color-gold-dark: #c99422;
$color-white: #fff;
$color-black: #000;
$color-brown: #2b0f11;
$color-grey: #1c1d1f;
$color-dark-grey: #1a1b1d;
$color-light-grey: #6e6e6e;
$color-very-light-grey: #acacac;
$color-light-red: #f15e5e;
$color-red: #ff3030;
$color-dark-red: #c90000;
$color-green: #63c600;
$color-dark-green: #53a500;
