input,
textarea {
    outline: none;
}
.form {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 30px;
    .input {
        margin-bottom: 40px;
        @include respond-to(media-500) {
            margin-bottom: 30px;
        }
        @include respond-to(media-400) {
            margin-bottom: 20px;
        }
    }
    &__row--2-parts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        @include respond-to(media-800) {
            column-gap: 30px;
        }
        @include respond-to(media-700) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    textarea {
        height: 100px;
    }
    .btn {
        margin: 0 auto;
    }
}

.input {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    padding: 0.2em;
    font-size: 20px;
    border-bottom: solid 2px transparent;
    background: none;
    &:-webkit-autofill,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:hover {
        transition: background-color 5000s ease-in-out 0s;
    }
}
.input--light {
    border-color: $color-white;
    color: $color-white;
    &:focus {
        border-color: #dddddd;
    }
    &::placeholder {
        color: #dddddd;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:hover {
        -webkit-text-fill-color: $color-white;
    }
}

.input--dark {
    border-color: $color-very-light-grey;
    color: $color-dark-grey;
    &::placeholder {
        color: $color-very-light-grey;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:hover {
        -webkit-text-fill-color: $color-dark-grey;
    }
}
